.calc-wrapper {
    width: 300px;
    margin: 20px auto;
}

.calc-wrapper .calc-display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
    background: rgb(36, 36, 36);
    padding-right: 1rem;
    font-size: 3rem;
}

