button {
    border: 1px solid black;
    background: none;
    font-size: 2.5rem;
    padding: 10px 0;
}

.action {
    width: 66.6%;
}
.function {
    background-color: darkred;
}

.clear-divide .function {
    width: 33.3%;
}

.numbRow1 .number {
    width: 22.2%;
}

.numbRow2 .number {
    width: 22.2%;
}

.numbRow3 .number {
    width: 22.2%;
}

.numbRow1 .function {
    width: 33.3%;
}

.numbRow2 .function {
    width: 33.3%;
}

.numbRow3 .function {
    width: 33.3%;
}

.zero-equal .function {
    width: 33.3%;
}